@model Portfoliowebsite.Models.AwardAndCertificationModel


<form method="post" asp-action="Edit" asp-controller="AwardAndCertification">
    
    <input asp-for="Id" hidden/>
    <input asp-for="User_Id" hidden/>

    <span asp-validation-for="AwardTitle" class="text-danger"></span>
    <label>Enter Your award and certificaton Title:</label>
    <input type="text" asp-for="AwardTitle" /><br /><br />

    <input type="submit" value="Submit" />
</form>