@model List<Portfoliowebsite.Models.SocialMediaModel>

<html>
<body>
    <div class="d-flex justify-content-end">
        <a type="submit" asp-action="Add" asp-controller="SocialMedia" style="color: green;">
            <button class="btn btn-success">Add</button>
        </a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>SocialMedia</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var td in Model)
            {

                <tr>

                    <td>@td.SocialMediaLink</td>
                    <td>

                        
                        <a type="submit" asp-action="Edit" asp-controller="SocialMedia" asp-route-id="@td.Id" style="color: black;">
                            <button class="btn btn-secondary">Edit</button>
                        </a>

                        <a type="submit" asp-action="Delete" asp-controller="SocialMedia" asp-route-id="@td.Id" style="color: black;">
                            <button class="btn btn-danger">Delete</button>
                        </a>

                    </td>
                </tr>
            }
        </tbody>


    </table>

</body>

</html>